$aoi: #1c9482;
input,textarea {
  border-radius: 0 !important;
  resize: none !important;
  &::placeholder {
    font-size: 14px !important;
  }
  font-size: 14px !important;
}
.nav-cloud {
  position: relative;
  // width: 100%;
  .back-to {
    position: absolute;
    top: 0;
    left: 0;
    // background-color: black;
    z-index: 919;
    height: 64px;
    line-height: 40px;
    padding: 12px 0 12px 24px;
    & > div {
      margin-left: 15px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .go-to {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 919;
    height: 64px;
    line-height: 40px;
    padding: 12px 24px 12px 0;
    /deep/.ivu-btn {
      height: 40px !important;
      width: 120px;
      color: white;
      border-radius: 0;
    }
  }
}
.nav-cloud-fixed {
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 100%;
  top: 0;
  transition: all 200ms;
}
@mixin base-container {
  max-width: 1366px;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}
@mixin ivu-col-padding {
  padding-left: 18px;
  padding-right: 18px;
}
@mixin info-title {
  h2 {
    font-weight: 500;
    color: #282828;
    font-size: 18px;
    line-height: 24px;
  }
  p {
    margin-top: 6px;
    color: #656969;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}
@mixin ivu-row-padding {
  padding-top: 48px;
  padding-bottom: 48px;
}
.main-container {
  position: relative;

  &/deep/.ivu-menu {
    display: flex;
    justify-content: center;
    height: 64px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
    .ivu-menu-item {
      padding: 0 40px;
      font-size: 16px;
    }
  }
}
.ff7-cloud {
  overflow: hidden;
  position: relative;
  .main-content {
    position: relative;
    height: 2800px;
  }
}
.slide-content {
  position: absolute;
  width: 300%;
  top: 0;
  // left: -100%;
  transition: all 500ms;
  & > div {
    // height: 2500px;
    width: 33.33333%;
    float: left;
    &:first-child {
      // background-color: antiquewhite;
    }
    &:nth-of-type(2) {
      background-color: red;
    }
    &:last-child {
      background-color: hotpink;
    }
  }
}

.basic-info {
  .edit-content {
    border-top: 1px solid #dcdedd;
    & > div {
      @include base-container();
      .ivu-row-flex {
        @include ivu-row-padding();
        .ivu-col {
          @include ivu-col-padding();
          background-color: white;
          &:first-of-type {
            @include info-title();
          }
        }
      }
    }
  }
  .edit-title {
    .edit-input {
      &-title {
        margin-bottom: 42px;
        &:last-of-type {
          margin-bottom: 0;
        }
        &>div {
          margin-bottom: 8px;
          font-size: 15px;
          color: #282828;
        }
      }
    }
  }
  .edit-sort {
    .edit-input {
      &-sort {
        .ivu-select {
          &-selection,&-placeholder,&-selected-value {
            height: 40px !important;
            line-height: 40px !important;
          }
          
        }
      }
    }
  }
  .edit-cover {
    .edit-input {
      &-cover {
        // height: 500px;
        &-cropper {
          height: 400px;
        }
        width: 100%;
        .ivu-btn {
          margin-top: 16px;
          border-radius: 0 !important;
        }
        .pre-img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
  .edit-video {
    .edit-input {
      &-upload-video {}
      &-pre-video {
        video {
          width: 100%;
        }
        .ivu-btn {
          margin-top: 16px;
          border-radius: 0 !important;
        }
      }
      &-title {
        margin-bottom: 42px;
        &:last-of-type {
          margin-bottom: 0;
        }
        &>div {
          margin-bottom: 8px;
          font-size: 15px;
          color: #282828;
        }
      }
    }
  }
}
.info-header {
  & > div {
    @include base-container();
    .ivu-col {
      padding: 0 18px;
      background-color: white;
      & > div {
        padding-top: 66px;
        padding-bottom: 72px;
        h1 {
          text-align: center;
          font-weight: 400;
          color: #282828;
          font-size: 28px;
          line-height: 36px;
        }
        p {
          text-align: center;
          margin-top: 12px;
          color: #656969;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}
